body {
  margin: 20px;
  background-image: url(../img/background.jpeg);
  background-size: cover;
}

img {
  height: 100px;
  width: 200px;
  margin-bottom: 8px;
}

.container {
  border: black beige white beige;
}

h1 {
  font-family: "Trebeuchet MS", sans-serif;
  color: #F5FFFD;
  letter-spacing: 2px;
  text-shadow: 3px 3px #000;
  border-bottom: 6px solid white;
}

#subheading {
  font-size: 16px;
  font-style: italic;
}

input, p {
  font-size: 18px;
  color: white;
}

label, h2 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

#name_styles, #type_styles, #company_styles, #line_styles, #role_styles {
  color: #00B3B4;
  text-shadow: 2px 2px #000;
}


#thanks, #c, #java, #php, #ruby, #css {
  display: none;
  font-size: 20px;
}

#thanks {
  font-size: 20px;
  margin-top: 20px;
}

h3 {
  font-size: 32px;
  text-shadow: 2px 2px #000;
}

a:hover {
  color: #FF5C5B;
  text-decoration: underline;
  cursor: pointer;
}

a {
  color: #FF8786;
}

#submitButton {
  border-radius: 8px;
  background-color: #00B3B4;
  border: 1px solid black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
