body {
  margin: 20px;
  background-color: #8A8A8A;
}

#subheading {
  font-size: 16px;
  font-style: italic;
}

label, h2 {
  font-size: 24px;
  font-weight: bold;
}

input {
  font-size: 18px;
}

.form_group {

}

#name_styles {
  color: #C0E7DF;
  text-shadow: 2px 2px #000;
}

#type_styles {
  color: #C0E7DF;
  text-shadow: 2px 2px #000;
}

#company_styles {
  color: #8DC3B4;
  text-shadow: 2px 2px #000;
}

#line_styles {
  color: #73B19F;
  text-shadow: 2px 2px #000;
}

#role_styles {
  color: #5AA08A;
  text-shadow: 2px 2px #000;
}

#thanks, #c, #java, #php, #ruby, #css {
  display: none;
  font-size: 20px;
}

#thanks {
  font-size: 18px;
}

h3 {

}
