body {
  margin: 20px;
  background-image: url(../img/background.jpeg);
  background-size: cover;
}

.container {
  border: black beige white beige;
}

h1 {
  color: #F5FFFD;
  text-shadow: 3px 3px #000;
  border-bottom: 6px solid white;
}

#subheading {
  font-size: 16px;
  font-style: italic;
}

input, p {
  font-size: 18px;
  color: white;
}

label, h2 {
  font-size: 24px;
  font-weight: bold;
  color: #A0E1C3;
}

#name_styles {
  color: #E4F9F1;
  text-shadow: 2px 2px #000;
}

#type_styles {
  color: #D3F3E6;
  text-shadow: 2px 2px #000;
}

#company_styles {
  color: #C2EDDA;
  text-shadow: 2px 2px #000;
}

#line_styles {
  color: #B1E7CF;
  text-shadow: 2px 2px #000;
}

#role_styles {
  color: #A0E1C3;
  text-shadow: 2px 2px #000;
}

#thanks, #c, #java, #php, #ruby, #css {
  display: none;
  font-size: 20px;
}

#thanks {
  font-size: 20px;
  margin-top: 20px;
}

h3, a {
  font-size: 32px;
  color: #8FDCB8;
  text-shadow: 2px 2px #000;
}

h3:hover {
  text-decoration: underline;
  cursor: pointer;
}

#submitButton {
  border-radius: 8px;
  background-color: #8FDCB8;
  border: 1px solid black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
